/* CSS RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */

.container{ 
    max-width: 1200px;
    margin: 0 auto;
}

/* GENERIC */

body{
    font-family: 'Press Start 2P', cursive;
}

.disp-none{
    display: none;
}


/* HEADER */
header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    color: greenyellow;
    background-color: black;
    border-bottom: 2px solid greenyellow;
}

#left-header {
    display: flex;
    align-items: center;
}

#logo{
 margin: 0 20px;
}

header button{
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    margin: 0 20px;
    cursor: pointer;
    border: 2px solid greenyellow;
    font-family: 'Press Start 2P', cursive;
}

select{
    padding: 5px 10px;
    border : 1px solid black;
    font-size: 20px;
    border: 2px solid greenyellow;
    font-family: 'Press Start 2P', cursive;
}

label{
    font-size: 20px;
    font-weight: bold;
}
/* MAIN */

main{
    background-image: url(../img/bombbg.jpg);
    background-size: contain;
    height: 80vh;
    padding: 50px;
}

#grid{
    height: 500px;
    width:  500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;   
    color: aliceblue;
}

#start-play{
    text-align: center;
    font-size: 25px;
    padding: 100px;
    border-radius: 20px;
    border: 2px solid greenyellow;
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgba(0, 0,0, 0.5);
    color: aliceblue;
}


.cell{
    border: 1px solid greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    cursor: pointer;
}

#grid.easy .cell {
    height: calc(100% / 10);
    width: calc(100% / 10); 
}

#grid.medium .cell {
    height: calc(100% / 9);
    width: calc(100% / 9);
}

#grid.hard .cell {
    height: calc(100% / 7);
    width: calc(100% / 7);
}

.cell.clicked{
    background-image: url(../img/fiore.png);
    background-size: cover;
}

.cell.bomb{
    background-image: url(../img/nuke.png);
    background-size: cover;
    background-position: center;
}

#user-display{
    height: 80px;
    width: 400px;
    margin: 50px auto; 
    padding :10px;

    background-image: url(../img/displaybg.jpg);
    background-size: cover;
    background-position: center;
    border: 2px solid greenyellow;

    font-size: 30px;
    font-weight: bold;
    color:greenyellow;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER */

footer{
    height: 10vh;
    line-height: 80px;
    vertical-align: middle;
    padding : 0 30px;
    color : greenyellow;
    background-color: black;
    border-top: 2px solid greenyellow;
}

#user-display.disp-none{
    display: none;
}

#grid.disp-none{
    display: none;
}
